In [2]:
import pandas as pd
file = "data.csv"

1 задание

In [3]:
df = pd.read_csv(file, sep=";",names=["absolute path","relative path","   class name"])
df = df.drop(["relative path"], axis=1)
df

                                          absolute path    class name
0     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard
1     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard
2     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard
3     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard
4     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard
...                                                 ...           ...
2195  C:\Users\user\Desktop\3lab\dataset\tiger\1095.jpg         tiger
2196  C:\Users\user\Desktop\3lab\dataset\tiger\1096.jpg         tiger
2197  C:\Users\user\Desktop\3lab\dataset\tiger\1097.jpg         tiger
2198  C:\Users\user\Desktop\3lab\dataset\tiger\1098.jpg         tiger
2199  C:\Users\user\Desktop\3lab\dataset\tiger\1099.jpg         tiger

[2200 rows x 2 columns]

3 задание

In [4]:
def f(row):
    if row["   class name"] == "leopard":
        val = 0
    else:
        val=1
    return val
df["label"] = df.apply(f ,axis =1)
df

                                          absolute path    class name  label
0     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard      0
1     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard      0
2     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard      0
3     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard      0
4     C:\Users\user\Desktop\3lab\dataset\leopard\000...       leopard      0
...                                                 ...           ...    ...
2195  C:\Users\user\Desktop\3lab\dataset\tiger\1095.jpg         tiger      1
2196  C:\Users\user\Desktop\3lab\dataset\tiger\1096.jpg         tiger      1
2197  C:\Users\user\Desktop\3lab\dataset\tiger\1097.jpg         tiger      1
2198  C:\Users\user\Desktop\3lab\dataset\tiger\1098.jpg         tiger      1
2199  C:\Users\user\Desktop\3lab\dataset\tiger\1099.jpg         tiger      1

[2200 rows x 3 columns]

In [6]:
import cv2

In [7]:
def width(row):
    image = cv2.imread(row["absolute path"])
    value = image.shape
    return value[1]
def height(row):
    image = cv2.imread(row["absolute path"])
    value = image.shape
    return value[0]
def depth(row):
    image = cv2.imread(row["absolute path"])
    value = image.shape
    return value[2]
df["width"] = df.apply(width ,axis =1)
df["height"] = df.apply(height ,axis =1)
df["depth"] = df.apply(depth ,axis =1)
df

,absolute path,class name,label,width,height,depth
0,C:\Users\user\Desktop\3lab\dataset\leopard\000...,leopard,0,480,300,3
1,C:\Users\user\Desktop\3lab\dataset\leopard\000...,leopard,0,480,300,3
2,C:\Users\user\Desktop\3lab\dataset\leopard\000...,leopard,0,480,320,3
3,C:\Users\user\Desktop\3lab\dataset\leopard\000...,leopard,0,463,320,3
4,C:\Users\user\Desktop\3lab\dataset\leopard\000...,leopard,0,467,320,3
...,...,...,...,...,...,...
2195,C:\Users\user\Desktop\3lab\dataset\tiger\1095.jpg,tiger,1,480,320,3
2196,C:\Users\user\Desktop\3lab\dataset\tiger\1096.jpg,tiger,1,480,270,3
2197,C:\Users\user\Desktop\3lab\dataset\tiger\1097.jpg,tiger,1,480,270,3
2198,C:\Users\user\Desktop\3lab\dataset\tiger\1098.jpg,tiger,1,193,320,3
2199,C:\Users\user\Desktop\3lab\dataset\tiger\1099.jpg,tiger,1,256,320,3

In [8]:
df.describe()

             label        width       height   depth
count  2200.000000  2200.000000  2200.000000  2200.0
mean      0.500000   448.781818   309.145000     3.0
std       0.500114    64.281976    16.593209     0.0
min       0.000000   180.000000   173.000000     3.0
25%       0.000000   434.750000   300.000000     3.0
50%       0.500000   480.000000   320.000000     3.0
75%       1.000000   480.000000   320.000000     3.0
max       1.000000   480.000000   320.000000     3.0